body{
  background:#161616;
  color:#888;
  font-family:'Franklin Gothic';
  text-transform:uppercase;
}

.navbar ul
 {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar li
{
    float:left;
    width:10%;
}

.navbar li:hover
{
    background-color:aqua;
}
 


